<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="resources/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="resources/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="resources/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="resources/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script src="resources/angular.js"></script>
<script src="resources/app.js"></script>
<script src="resources/user_controller.js"></script>
<script src="resources/userservice.js"></script>
<body ng-app="myApp">
     <div ng-controller="UserController as uctrl" id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Collaboration</a>
            </div>

            <div class="header-right">

                <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
                <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="resources/assets/img/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                {{user.u_name}}
                            <br />
                                <small>Last Login : 2 Weeks Ago </small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>Blog <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="panel-tabs.html"><i class="fa fa-toggle-on"></i>Create</a>
                            </li>
                            <li>
                                <a href="notification.html"><i class="fa fa-bell "></i>views</a>
                            </li>  
                        </ul>
                    </li>
                   
                      <li>
                        <a href="gallery.html"><i class="fa fa-anchor "></i>Chats</a>
                    </li>
                   
                     <li>
                        <a href="#"><i class="fa fa-yelp "></i>Event <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="invoice.html"><i class="fa fa-coffee"></i>Create</a>
                            </li>
                            <li>
                                <a href="pricing.html"><i class="fa fa-flash "></i>upcoming events</a>
                            </li>
                             <li>
                                <a href="social.html"><i class="fa fa-send "></i>Social</a>
                            </li>
                            
                             <li>
                                <a href="message-task.html"><i class="fa fa-recycle "></i>Messages & Tasks</a>
                            </li>
                            
                           
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-bicycle "></i>Account <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                           
                             <li>
                                <a href="form.html"><i class="fa fa-desktop "></i>Sign Up </a>
                            </li>
                             <li>
                                <a href="form-advance.html"><i class="fa fa-sign-in "></i>Login</a>
                            </li>
                             
                           
                        </ul>
                    </li>
                      <li>
                        <a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
                    </li>
                   
                    <li>
                        <a href="#"><i class="fa fa-sitemap "></i>Placement <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-bicycle "></i>Apply</a>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-flask "></i>Available jobs</a>
                            </li>
                        </ul>
                    </li>
                   
                    <li>
                        <a href="table.html"><i class="fa fa-flash "></i>About us </a>
                        
                    </li>
                    <li>
                        <a href="blank.html"><i class="fa fa-square-o "></i>Contact Us</a>
                    </li>
                </ul>

            </div>

        </nav>
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<h1 class="page-head-line">REGISTRATION</h1>
						<h1 class="page-subhead-line">
							If you are already registered, <a href="/login"><i>click
									here</i></a> to login.
						</h1>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row">

					<div class="col-md-8 col-sm-4 col-xs-8">
						<div class="panel panel-primary">
							<div class="panel-heading">SIGN UP HERE</div>
							<div class="panel-body">
								<form role="form">
									<div class="form-group">
										<input type="hidden" ng-model="user.userId" /><br>
										<input type="hidden" ng-model="enabled" />
									</div>
									<div class="form-group">
										<label>Name</label> <input class="form-control" type="text"
											ng-model="user.u_name" placeholder="name" required>
										<p class="help-block">Help text here.</p>
									</div>
									<div class="form-group">
										<label>Address</label>
										<textarea class="form-control" ng-model="user.u_address"
											placeholder="address" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label>Enter Email</label> <input ng-model="user.u_email"
											placeholder="Email" class="form-control" type="text">
										<p class="help-block">Help text here.</p>
									</div>
									<div class="form-group">
										<label>Contact No .</label> <input ng-model="user.u_contact"
											placeholder="contact" class="form-control" type="text">
										<p class="help-block">Help text here.</p>
									</div>
									<div class="form-group">
										<label>User name</label> <input ng-model="user.u_username"
											placeholder="username" class="form-control" type="text">
										<p class="help-block">Help text here.</p>
									</div>
									<div class="form-group">
										<label>Enter Password</label> <input
											ng-model="user.u_password" placeholder="password"
											class="form-control" type="password">
										<p class="help-block">Help text here.</p>
									</div>
									<div class="form-group">
										<label>Gender</label>
										<div class="radio">
											<label> <input type="radio" ng-model="user.u_gender"
												name="optionsRadios" id="optionsRadios1" value="M"
												checked="">Male
											</label>
										</div>
										<div class="radio">
											<label> <input ng-model="user.u_gender"
												ng-model="user.u_gender" placeholder="gender" type="radio"
												name="optionsRadios" id="optionsRadios2" value="F">Female
											</label>
										</div>
									</div>


									<div class="form-group">
										<label>Date Of Birth</label> <input ng-model="user.u_dob"
											class="form-control" type="date">
									</div>
									<input class="btn btn-primary" type="submit"
										value="{{!user.userId ? 'Sign up' : 'Update'}}"
										ng-click="uctrl.submit()" /> <input class="btn btn-danger" type="reset"
										value="reset" ng-click="uctrl.reset()" />
										
								</form>
															
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.ROW-->
	</div>
	<!-- /. WRAPPER  -->
	<div id="footer-sec">
		&copy; 2016 Chirag | Design By : <a href="http://www.binarytheme.com/"
			target="_blank">BinaryTheme.com</a>
	</div>
	<!-- /. FOOTER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="resources/assets/js/jquery-1.10.2.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="resources/assets/js/bootstrap.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="resources/assets/js/jquery.metisMenu.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="resources/assets/js/custom.js"></script>
</body>
</html>
