<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>blogs</title>
</head>
<script src="resources/angular.js"></script>
<script src="resources/app.js"></script>
<script src="resources/Blog/blog_controller.js"></script>
<script src="resources/Blog/blogservice.js"></script>
<body ng-app="myApp">
<div ng-controller="BlogController as bctrl">
<table><tr>
<td>id </td>
<td>Title</td>
<tr>
<tr ng-repeat="b_list in bctrl.blogdata">
<td><span ng-bind="b_list.b_id"></span> </td>
<td><span ng-bind="b_list.b_title"></span></td>
<td><form name="myEdit"><input type="submit" value="Edit" ng-click="bctrl.edit(b_list.b_id)"></form></td>
<td><form name="myDelete"><input type="submit" value="Delete" ng-click="bctrl.remove(list.b_id)"></form></td>
</tr>
</table>
<form name="myForm">

	<input type="hidden" ng-model="blog.b_id" /><br><input type="hidden" ng-model="enabled" /><br>
	Title:<input type="text" ng-model="blog.b_title" placeholder="title"/><br>
	Blog Content:<input type="text" ng-model="blog.b_content" placeholder="content"/><br>
	<input type="submit" value="{{!blog.b_id ? 'Add' : 'Update'}}" ng-click="bctrl.submit()" />
	<input type="reset" value="reset" ng-click="bctrl.reset()" />
	
</form>
</div>
</body>
</html>